In [7]:
import pandas as pd
import numpy as np

In [8]:
data_path = "/NTHU/DATA MINING/lab2_kaggle/data"

In [9]:
#load data 
tweets_df = pd.read_json(data_path + '/tweets_DM.json',lines=True)

data_identification_df = pd.read_csv(data_path + "/data_identification.csv")

emotions_df = pd.read_csv(data_path + "/emotion.csv")



tweets_df['text'] = tweets_df['_source'].apply(lambda x:x['tweet']['text'])
tweets_df['id'] = tweets_df['_source'].apply(lambda x:x['tweet']['tweet_id'])
tweets_df['hashtags'] = tweets_df['_source'].apply(lambda x:x['tweet']['hashtags'])

In [10]:
tweets_df

,_score,_index,_source,_crawldate,_type,text,id,hashtags
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets,"People who post ""add me on #Snapchat"" must be ...",0x376b20,[Snapchat]
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets,"@brianklaas As we see, Trump is dangerous to #...",0x2d5350,"[freepress, TrumpLegacy, CNN]"
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets,"Confident of your obedience, I write to you, k...",0x28b412,[bibleverse]
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,0x1cd5b0,[]
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets,"""Trust is not the same as faith. A friend is s...",0x2de201,[]
...,...,...,...,...,...,...,...,...
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets,When you buy the last 2 tickets remaining for ...,0x316b80,"[mixedfeeling, butimTHATperson]"
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets,I swear all this hard work gone pay off one da...,0x29d0cb,[]
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets,@Parcel2Go no card left when I wasn't in so I ...,0x2a6a4f,[]
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets,"Ah, corporate life, where you can date <LH> us...",0x24faed,[]
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets,Blessed to be living #Sundayvibes <LH>,0x34be8c,[Sundayvibes]

In [11]:
emotions_df = emotions_df.rename(index=str,columns={"tweet_id":"id"})
emotions_df

               id       emotion
0        0x3140b1       sadness
1        0x368b73       disgust
2        0x296183  anticipation
3        0x2bd6e1           joy
4        0x2ee1dd  anticipation
...           ...           ...
1455558  0x38dba0           joy
1455559  0x300ea2           joy
1455560  0x360b99          fear
1455561  0x22eecf           joy
1455562  0x2fb282  anticipation

[1455563 rows x 2 columns]

In [12]:
data_identification_df = data_identification_df.rename(index=str,columns={"tweet_id":"id"})
data_identification_df

               id identification
0        0x28cc61           test
1        0x29e452          train
2        0x2b3819          train
3        0x2db41f           test
4        0x2a2acc          train
...           ...            ...
1867530  0x227e25          train
1867531  0x293813          train
1867532  0x1e1a7e          train
1867533  0x2156a5          train
1867534  0x2bb9d2          train

[1867535 rows x 2 columns]

In [13]:
tweets_df = pd.merge(tweets_df,data_identification_df, on="id")
train_df = tweets_df[tweets_df["identification"] == "train"]
test_df = tweets_df[tweets_df["identification"] == "test"]
train_df

,_score,_index,_source,_crawldate,_type,text,id,hashtags,identification
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets,"People who post ""add me on #Snapchat"" must be ...",0x376b20,[Snapchat],train
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets,"@brianklaas As we see, Trump is dangerous to #...",0x2d5350,"[freepress, TrumpLegacy, CNN]",train
3,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,0x1cd5b0,[],train
5,120,hashtag_tweets,"{'tweet': {'hashtags': ['authentic', 'LaughOut...",2015-06-11 04:44:05,tweets,@RISKshow @TheKevinAllison Thx for the BEST TI...,0x1d755c,"[authentic, LaughOutLoud]",train
6,1021,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2c91...",2015-08-18 02:30:07,tweets,Still waiting on those supplies Liscus. <LH>,0x2c91a8,[],train
...,...,...,...,...,...,...,...,...,...
1867526,94,hashtag_tweets,"{'tweet': {'hashtags': ['NoWonder', 'Happy'], ...",2016-12-26 02:44:07,tweets,I'm SO HAPPY!!! #NoWonder the name of this sho...,0x321566,"[NoWonder, Happy]",train
1867527,627,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x3895...",2015-04-01 08:14:56,tweets,In every circumtance I'd like to be thankful t...,0x38959e,[],train
1867528,274,hashtag_tweets,"{'tweet': {'hashtags': ['blessyou'], 'tweet_id...",2016-11-17 23:46:22,tweets,there's currently two girls walking around the...,0x2cbca6,[blessyou],train
1867533,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets,"Ah, corporate life, where you can date <LH> us...",0x24faed,[],train
1867534,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets,Blessed to be living #Sundayvibes <LH>,0x34be8c,[Sundayvibes],train

In [14]:
test_df

,_score,_index,_source,_crawldate,_type,text,id,hashtags,identification
2,232,hashtag_tweets,"{'tweet': {'hashtags': ['bibleverse'], 'tweet_...",2017-12-25 04:39:20,tweets,"Confident of your obedience, I write to you, k...",0x28b412,[bibleverse],test
4,989,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2de2...",2016-01-08 17:18:59,tweets,"""Trust is not the same as faith. A friend is s...",0x2de201,[],test
9,66,hashtag_tweets,"{'tweet': {'hashtags': ['materialism', 'money'...",2015-09-09 09:22:55,tweets,When do you have enough ? When are you satisfi...,0x218443,"[materialism, money, possessions]",test
30,104,hashtag_tweets,"{'tweet': {'hashtags': ['GodsPlan', 'GodsWork'...",2015-10-10 14:33:26,tweets,"God woke you up, now chase the day #GodsPlan #...",0x2939d5,"[GodsPlan, GodsWork]",test
33,310,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2628...",2016-10-23 08:49:50,tweets,"In these tough times, who do YOU turn to as yo...",0x26289a,[],test
...,...,...,...,...,...,...,...,...,...
1867525,602,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2913...",2016-12-10 18:01:00,tweets,"""For this is the message that ye heard from th...",0x2913b4,[],test
1867529,598,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a98...",2015-01-04 14:40:55,tweets,"""There is a lad here, which hath five barley l...",0x2a980e,[],test
1867530,827,hashtag_tweets,"{'tweet': {'hashtags': ['mixedfeeling', 'butim...",2015-05-12 12:51:52,tweets,When you buy the last 2 tickets remaining for ...,0x316b80,"[mixedfeeling, butimTHATperson]",test
1867531,368,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x29d0...",2017-10-02 17:54:04,tweets,I swear all this hard work gone pay off one da...,0x29d0cb,[],test
1867532,498,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2a6a...",2016-10-10 11:04:32,tweets,@Parcel2Go no card left when I wasn't in so I ...,0x2a6a4f,[],test

In [15]:
train_df = pd.merge(train_df,emotions_df, on="id")

In [16]:
train_df

,_score,_index,_source,_crawldate,_type,text,id,hashtags,identification,emotion
0,391,hashtag_tweets,"{'tweet': {'hashtags': ['Snapchat'], 'tweet_id...",2015-05-23 11:42:47,tweets,"People who post ""add me on #Snapchat"" must be ...",0x376b20,[Snapchat],train,anticipation
1,433,hashtag_tweets,"{'tweet': {'hashtags': ['freepress', 'TrumpLeg...",2016-01-28 04:52:09,tweets,"@brianklaas As we see, Trump is dangerous to #...",0x2d5350,"[freepress, TrumpLegacy, CNN]",train,sadness
2,376,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x1cd5...",2016-01-24 23:53:05,tweets,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,0x1cd5b0,[],train,fear
3,120,hashtag_tweets,"{'tweet': {'hashtags': ['authentic', 'LaughOut...",2015-06-11 04:44:05,tweets,@RISKshow @TheKevinAllison Thx for the BEST TI...,0x1d755c,"[authentic, LaughOutLoud]",train,joy
4,1021,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x2c91...",2015-08-18 02:30:07,tweets,Still waiting on those supplies Liscus. <LH>,0x2c91a8,[],train,anticipation
...,...,...,...,...,...,...,...,...,...,...
1455558,94,hashtag_tweets,"{'tweet': {'hashtags': ['NoWonder', 'Happy'], ...",2016-12-26 02:44:07,tweets,I'm SO HAPPY!!! #NoWonder the name of this sho...,0x321566,"[NoWonder, Happy]",train,joy
1455559,627,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x3895...",2015-04-01 08:14:56,tweets,In every circumtance I'd like to be thankful t...,0x38959e,[],train,joy
1455560,274,hashtag_tweets,"{'tweet': {'hashtags': ['blessyou'], 'tweet_id...",2016-11-17 23:46:22,tweets,there's currently two girls walking around the...,0x2cbca6,[blessyou],train,joy
1455561,840,hashtag_tweets,"{'tweet': {'hashtags': [], 'tweet_id': '0x24fa...",2016-09-02 14:25:06,tweets,"Ah, corporate life, where you can date <LH> us...",0x24faed,[],train,joy
1455562,360,hashtag_tweets,"{'tweet': {'hashtags': ['Sundayvibes'], 'tweet...",2016-11-16 01:40:07,tweets,Blessed to be living #Sundayvibes <LH>,0x34be8c,[Sundayvibes],train,joy

In [17]:
train_df = train_df.drop(columns = ['identification','_score','_index','_source','_crawldate','_type'])
test_df = test_df.drop(columns = ['identification','_score','_index','_source','_crawldate','_type'])

In [63]:
train_df.set_index("id",inplace=True)

In [62]:
test_df.set_index("id",inplace=True)

KeyError: "None of ['id'] are in the columns"

In [53]:
test_df = test_df.drop(columns = ['hashtags'])

In [58]:
test_df

                                                       text
id
0x28b412  Confident of your obedience, I write to you, k...
0x2de201  "Trust is not the same as faith. A friend is s...
0x218443  When do you have enough ? When are you satisfi...
0x2939d5  God woke you up, now chase the day #GodsPlan #...
0x26289a  In these tough times, who do YOU turn to as yo...
...                                                     ...
0x2913b4  "For this is the message that ye heard from th...
0x2a980e  "There is a lad here, which hath five barley l...
0x316b80  When you buy the last 2 tickets remaining for ...
0x29d0cb  I swear all this hard work gone pay off one da...
0x2a6a4f  @Parcel2Go no card left when I wasn't in so I ...

[411972 rows x 1 columns]

In [19]:
train_df

,text,id,hashtags,emotion
0,"People who post ""add me on #Snapchat"" must be ...",0x376b20,[Snapchat],anticipation
1,"@brianklaas As we see, Trump is dangerous to #...",0x2d5350,"[freepress, TrumpLegacy, CNN]",sadness
2,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,0x1cd5b0,[],fear
3,@RISKshow @TheKevinAllison Thx for the BEST TI...,0x1d755c,"[authentic, LaughOutLoud]",joy
4,Still waiting on those supplies Liscus. <LH>,0x2c91a8,[],anticipation
...,...,...,...,...
1455558,I'm SO HAPPY!!! #NoWonder the name of this sho...,0x321566,"[NoWonder, Happy]",joy
1455559,In every circumtance I'd like to be thankful t...,0x38959e,[],joy
1455560,there's currently two girls walking around the...,0x2cbca6,[blessyou],joy
1455561,"Ah, corporate life, where you can date <LH> us...",0x24faed,[],joy
1455562,Blessed to be living #Sundayvibes <LH>,0x34be8c,[Sundayvibes],joy

In [20]:
possible_labels = train_df.emotion.unique()

label_dict = {}
for index, possible_label in enumerate(possible_labels):
    label_dict[possible_label] = index
label_dict

{'anticipation': 0,
 'sadness': 1,
 'fear': 2,
 'joy': 3,
 'anger': 4,
 'trust': 5,
 'disgust': 6,
 'surprise': 7}

In [21]:
train_df['label'] = train_df.emotion.replace(label_dict)

In [51]:
train_df = train_df.drop(columns = ['hashtags','label','data_type'])

In [79]:
train_df.to_pickle("/NTHU/DATA MINING/lab2_kaggle/training_pkl" )

In [64]:
train_df.to_csv("/NTHU/DATA MINING/lab2_kaggle/training_csv" )

In [59]:
test_df.to_csv("/NTHU/DATA MINING/lab2_kaggle/testing_csv" )

In [60]:
pd.read_csv("/NTHU/DATA MINING/lab2_kaggle/testing_csv")

              id                                               text
0       0x28b412  Confident of your obedience, I write to you, k...
1       0x2de201  "Trust is not the same as faith. A friend is s...
2       0x218443  When do you have enough ? When are you satisfi...
3       0x2939d5  God woke you up, now chase the day #GodsPlan #...
4       0x26289a  In these tough times, who do YOU turn to as yo...
...          ...                                                ...
411967  0x2913b4  "For this is the message that ye heard from th...
411968  0x2a980e  "There is a lad here, which hath five barley l...
411969  0x316b80  When you buy the last 2 tickets remaining for ...
411970  0x29d0cb  I swear all this hard work gone pay off one da...
411971  0x2a6a4f  @Parcel2Go no card left when I wasn't in so I ...

[411972 rows x 2 columns]

In [65]:
pd.read_csv("/NTHU/DATA MINING/lab2_kaggle/training_csv")

,id,text,emotion
0,0x376b20,"People who post ""add me on #Snapchat"" must be ...",anticipation
1,0x2d5350,"@brianklaas As we see, Trump is dangerous to #...",sadness
2,0x1cd5b0,Now ISSA is stalking Tasha ðŸ˜‚ðŸ˜‚ðŸ˜‚ <LH>,fear
3,0x1d755c,@RISKshow @TheKevinAllison Thx for the BEST TI...,joy
4,0x2c91a8,Still waiting on those supplies Liscus. <LH>,anticipation
...,...,...,...
1455558,0x321566,I'm SO HAPPY!!! #NoWonder the name of this sho...,joy
1455559,0x38959e,In every circumtance I'd like to be thankful t...,joy
1455560,0x2cbca6,there's currently two girls walking around the...,joy
1455561,0x24faed,"Ah, corporate life, where you can date <LH> us...",joy
1455562,0x34be8c,Blessed to be living #Sundayvibes <LH>,joy

In [66]:
df = pd.read_csv("/NTHU/DATA MINING/lab2_kaggle/training_csv")

s = pd.Series(list(df['emotion']))
one_hot_emotion = pd.get_dummies(s)

In [67]:
text_bert = df[['id', 'text']]

In [69]:
train_df = pd.concat([text_bert, one_hot_emotion.reindex(text_bert.index)], axis=1)

In [78]:
train_df.to_csv("text_tweets.csv", index=False)
train_df.to_pickle("text_tweets.pkl")